     body{
            background-color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }
        h1{
            text-align: center;
            color: rgb(194, 40, 133);
            font-size: 60px;
        }
        p{
            text-align: center;
            text-decoration: double;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }
        a{
            color: rgb(194, 40, 133);
        }
        a:hover{
            color: olive;
            cursor: pointer;
                
        }
        img{
            padding: auto;
            border-radius: 10px;
            margin: 90px;
        }